<div class="random-dog">
	<div class="image-container">
		<div [class]="{'hidden' : !(isLoadingMedia | async) }">
			Loading next dog...
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</div>
		<div [class]="{'hidden' : (isLoadingMedia | async) }">
			<div>
				<img [class]="{'hidden' : isVideo }"
					 [src]="randomDog.getUrl()"
					 (load)="onMediaLoad($event)">
				<video #videoPlayer
					   autoplay
					   controls
					   loop
					   muted
					   [class]="{'hidden' : !isVideo }"
					   [src]="randomDog.getUrl()"
					   (load)="onMediaLoad($event)"></video>
			</div>
		</div>
	</div>

	<div class="details">
		<div>
			File size: {{randomDog.getFileSizeBytes() | number}} bytes
		</div>

		<button mat-raised-button
				color="primary"
				(click)="onRandomDogBtnClicked()">
			Random Dog
		</button>
	</div>
</div>